<footer id="footer" class="footer mt-auto py-3 bg-light fixed-bottom">
    <!--fixed-bottom-->
    <div class="container">
        <span class="text-muted">Any problems with Slacky? <a href="mailto:me@me.com">Email Me</a>
    </div>
</footer>