<header>
    <nav>
        <ul>
            <li>
            <a href="/home">Home</a>
            </li>
            <li>
                <span>Logged in as <%= user.name %></span>
            </li>
            <li>
                <a href="/home/logout">Log Out</a>
            </li>
        </ul>
    </nav>
</header>