<div>
    <div class="col-md-4 col-sm-6">
        <br>
        <h3 class="text-center">Channels</h3>
        <ul id="channelsUl">
            <table class="container-fluid table table-condensed table-hover table-striped table-bordered">
                <tr class="d-flex">
                    <th class="col-8">Name</th>
                    <th class="col-4">Delete</th>
                </tr>
                <% channels.forEach( channel => { %>
                    <tr class="d-flex">
                        <td class="col-8"><a href="/channel/<%= channel._id %>"><%= channel.name %></a></td>
                        <td class="col-4"><a href="/home/delete/<%= channel._id %>">X</a></td>
                    </tr>
                <% }) %>
            </table>
        </ul>
    </div>
    <div>
        <h3>Users</h3>
        <ul id="usersUl">
        </ul>
    </div>
</div> 