<%- include('block/header') %>
<%- include ('./block/sidebar') %>
<br>
<div>
    <form method="post" action="/home/create">
        <input type="text" name="name" placeholder="Channel name here" required/><br />
        <input
            type="text"
            name="description"
            placeholder="Channel description here"
            maxlength="50"
            required
        /><br />
        <span>Private? </span><input type="checkbox" name="private" /><br />
        <input type="submit" value="Create Channel" />
    </form>
</div>
<%- include('block/footer') %>
<script src="/public/scripts/script.js"></script>