<div class="d-flex justify-content-center">
    <form action="" method="POST" class="col-md-3">
        <br>
        <div class="mb-3 fw-normal text-center">
            <h3>Welcome to Slacky</h3>
            <h3>Register new user</h3>
        </div>
        
        <br>
        <label for="inputEmail" class="visually-hidden">Name</label>
        <input type="text" name="name" id="inputEmail" class="form-control" placeholder="Username" required autofocus>

        <label for="inputPassword" class="visually-hidden">Password</label>
        <input 
            type="password" 
            name="password" 
            id="inputPassword" 
            class="form-control" 
            placeholder="Password" 
            required>
        
        <button class="w-100 btn btn-lg btn-primary" type="submit">Register</button>
    </form>
</div>
<br>
<p class="text-center">Already a user? Login <a href="/">here!</a></p>
<%- include('partials/messages') %>