body {
    padding-bottom: 60px;
}

#small_pic {
    max-width: 220px;
    max-height: 150px;
}

#usersUl {
    list-style-type: none;
}

#inputWidth {
    width: 100%;
}

#tableOnline {
    padding-left: 2em;
}

li {
    list-style: none;
}

.onlineNow {
    background-color: green;
}